body {
  margin: 0;
}

html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

input {
  outline: none;
  border: none;
}
.verse {
  cursor: context-menu;
}
.verse br {
  display: none;
}
.verse h4 {
  margin: 0;
  text-align: center;
  font-size: 1.6em;
}
@media only screen and (max-width: 768px) {
  .verse {
    user-select: none;
  }
}
.tqcard h1{
  font-size: inherit;
}
.tqcard > div {
  height: auto;
}
.obs img{
  height: auto;
  max-width: 100%;
}

.tooltipClass{
  color: #f4f4f4;
  text-shadow: 1px 1px 3px black;
  background-color: #0008;
  box-shadow: inherit;
  font-size: 1.1em;
  min-width: 320px;
  line-height: 1.5;
  max-width: 500px;
}

.tooltipClass .introjs-skipbutton{
  color: #fff;
  font-size: 25px;
  padding: 10px 17px;
  position: fixed;
  right: 5px;
  top: 5px;
  background: #c80000;
  border-radius: 3px;
}
.tooltipClass .introjs-tooltipbuttons{
  border: none;
}
.tooltipClass .introjs-button{
  border: none;
  text-shadow: none;
  color: #f4f4f4;
  background-color: #424242;
}

.tooltipClass .introjs-arrow{
  display: none !important;
}
div[id*="_title"]{
  font-family: inherit;
}
.md {
    color: #424242;
    line-height: 1.45;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.1em;
  margin: 5px;
}
